<!DOCTYPE html>
<html>
<head>
<title>My Profile</title>
<% include ../partials/main_header %>
<script src="/javascripts/ProfileCtrls.js"></script>
<style>
	.profile-btns {
		
	}
	.profile-basic-info {
		padding: 2% 0;
	}
</style>
</head>
<body ng-app="profile">
	<% include ../partials/main_navbar %>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
		<!-- First name, last name, email, password,  -->
			<h1>
				My Profile
			</h1>
			<% if(errMsg.length > 0){ %>
				<div class="alert alert-danger">
					<%= errMsg %>
				</div>
			<% } if(infoMsg.length > 0){ %>
				<div class="alert alert-info">
					<%= infoMsg %>
				</div>	
			<% } if(sucMsg.length > 0){ %>
				<div class="alert alert-success">
					<%= sucMsg %>
				</div>
			<% } %>
			<div>
				<div class="profile-btns">
					<a class="btn btn-primary">
						<i class="fa fa-cog"></i>&nbsp;
						Edit My Details
					</a>
					<a class="btn btn-info">
						<i class="fa fa-key"></i>&nbsp;
						Change My Password
					</a>
					<a class="btn btn-danger">
						<i class="fa fa-trash"></i>&nbsp;
						Delete My Profile
					</a>
				</div>
				<div class="profile-basic-info">
					<p>
						First Name:
						<%= user.first_name %>
					</p>
					<p>
						Last Name:
						<%= user.last_name %>
					</p>
					<p>
						Email:
						<%= user.email %>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>